.heading {
  color: black;
  position: relative;
  left: 60rem;
  bottom: 12rem;
  width: 20rem;
  font-weight: 900;
}
.main {
  position: relative;
  bottom: 20rem;
  margin-top: 6rem;
  width: 100%;
  height: 30rem;
  background-color: #fff;
}
.color {
  color: purple;
}
.para {
  font-size: 1.3rem;
  color: black;
  width: 30rem;
  position: relative;
  left: 60rem;
  bottom: 12rem;
  font-weight: 500;
}
.detailsBtn {
  background-color: #fff;
  width: 8rem;
  height: 2.5rem;
  color: #000;
  border-radius: 12px;
  font-family: "Poppins";
  position: relative;
  left: 60rem;
  bottom: 12rem;
  margin-top: 1rem;
}
.detailsBtn:hover {
  background-color: #000;
  width: 8rem;
  height: 2.5rem;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  font-family: "Poppins";
}
.imgTrade {
  float: left;
  position: relative;
  animation: mover 1s infinite alternate;
  top: 6rem;
  left: 7rem;
  width: 30rem;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-70px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
